<!DOCTYPE html>
<html lang="en">

<!--   Tue, 07 Jan 2020 03:33:27 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Ecommerce Dashboard &mdash; CodiePie</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/assets/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="~/assets/modules/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.min.css">
    <link rel="stylesheet" href="~/assets/css/components.min.css">

</head>
<body class="layout-4">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>

            <!-- Start app top navbar -->
            <nav class="navbar navbar-expand-lg fixed-top main-navbar">
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" id="mySearchInput" placeholder="Search" aria-label="Search" data-width="250">
                    </div>
                </form>
                <ul class="navbar-nav navbar-right"><li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/assets/img/avatar/avatar-5.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, Anita</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon"><i class="far fa-user"></i> Profile</a>
                            <a href="features-activities.html" class="dropdown-item has-icon"><i class="fas fa-bolt"></i> Activities</a>
                            <a href="features-settings.html" class="dropdown-item has-icon"><i class="fas fa-cog"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- Start main left sidebar menu -->
            <div class="main-sidebar sidebar-style-3">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index-2.html">AviaPlus</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index-2.html">AP</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index"><i class="fas fa-fire"></i><span><b>Dashboard</b></span></a>
                        </li>
                        <li class="menu-header">Main</li>
                        <li>
                            <a asp-controller="Flights" asp-action="Index"><i class="fas fa-columns"></i> <span><b>Flight</b></span></a>
                        </li>
                        <li>
                            <a asp-controller="Tickets" asp-action="Index"><i class="fas fa-columns"></i> <span><b>Ticket</b></span></a>
                        </li>
                        <li class="menu-header">Shopping</li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span><b>Duty Free</b></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Perfumeries" asp-action="Index">Perfumery</a></li>
                                <li><a class="nav-link" asp-controller="Cosmetics" asp-action="Index">Cosmetics</a></li>
                                <li><a class="nav-link" asp-controller="Spirits" asp-action="Index">Spirits</a></li>
                                <li><a class="nav-link" asp-controller="GourmetFoods" asp-action="Index">Gourmet foods</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span><b>Food - Beverage</b></span></a>
                            <ul class="dropdown-menu">
                                <li class="menu-sub-header">Restaurants</li>
                                <li><a class="nav-link" asp-controller="Foods" asp-action="Index">Food</a></li>
                                <li class="menu-sub-header">Coffee Shops</li>
                                <li><a class="nav-link" asp-controller="Beverages" asp-action="Index">Beverage</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span><b>Store</b></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Jewelries" asp-action="Index">Jewelry</a></li>
                                <li><a asp-controller="Clothes" asp-action="Index">Clothes</a></li>
                            </ul>
                        </li>
                        <li class="menu-header">Other</li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span><b>Account</b></span></a>
                            <ul class="dropdown-menu">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                }
                                else
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li><a asp-controller="Dashboard" asp-action="Index">@User.Identity.Name</a></li>
                                    }
                                    else
                                    {
                                        <li><a>@User.Identity.Name</a></li>
                                    }
                                    <li><a asp-controller="Account" asp-action="LogOut">Log out</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Start app main Content -->
<div class="main-content">
            @RenderBody()
</div>
        <!-- Start app Footer part -->
        <footer class="main-footer">
            <div class="footer-left">
                 
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
</div>

<!-- General JS Scripts -->
<script src="~/assets/bundles/lib.vendor.bundle.js"></script>
<script src="~/js/CodiePie.js"></script>

<!-- JS Libraies -->
<script src="~/assets/modules/jquery.sparkline.min.js"></script>
<script src="~/assets/modules/chart.min.js"></script>
<script src="~/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
<script src="~/assets/modules/summernote/summernote-bs4.js"></script>
<script src="~/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

<!-- Page Specific JS File -->
<script src="~/js/page/index.js"></script>
@await RenderSectionAsync("Scripts",false)
    <script>
        $(document).on("keyup", "#mySearchInput", function () {
            if ($("#mySearchInput").val().length > 0) {
                $.ajax({
                    url: "/Home/GlobalSearch/",
                    type: "get",
                    data: {
                        "key": $("#mySearchInput").val()
                    },
                    success: function (response) {
                        $("#mySearchList").remove()
                        $(".search-element").append(response)
                    }
                });
            }
            else {
                $("#mySearchList").remove()
            }
        });
    </script>

<!-- Template JS File -->
<script src="~/js/scripts.js"></script>
<script src="~/js/custom.js"></script>
</body>

<!--   Tue, 07 Jan 2020 03:35:12 GMT -->
</html>