@model Clothes
<div class="col-12">
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="card-header">
                <h4>Update Clothes</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label" asp-for="Photo"></label>
                    <input accept="image/*" asp-for="Photo" class="form-control" id="basic-default-fullname">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <div class="form-group">
                        <label>Current Image</label>
                        <div>
                            <img src="@Url.Content("~/assets/img/" + Model.Image)" alt="Current Image" class="img-fluid" style="max-width: 200px; max-height: 200px;" />
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand">Brand</label>
                    <input asp-for="Brand" class="form-control">
                    <span class="text-danger" asp-validation-for="Brand"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFemale">Man / Woman</label>
                    <br />
                    <label>Man</label>
                    <input type="radio" value="false" style="margin-top:30px;margin-buttom:0px;width:35px;height:100%" asp-for="IsFemale" placeholder="IsFemale">
                    <label>Woman</label>
                    <input type="radio" value="true" style="margin-top:30px;margin-buttom:0px;width:35px;height:100%" asp-for="IsFemale" placeholder="IsFemale">
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="MainFabric">Main Fabric</label>
                    <input asp-for="MainFabric" class="form-control">
                    <span class="text-danger" asp-validation-for="MainFabric"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color">Color</label>
                    <input asp-for="Color" class="form-control">
                    <span class="text-danger" asp-validation-for="Color"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size">Size</label>
                    <input asp-for="Size" class="form-control">
                    <span class="text-danger" asp-validation-for="Size"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity">Quantity</label>
                    <input asp-for="Quantity" class="form-control">
                    <span class="text-danger" asp-validation-for="Quantity"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price ($)</label>
                    <input asp-for="Price" class="form-control">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class=" form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary">Submit</button>
                <a asp-action="Index" class="btn btn-secondary text-white">Go Back</a>
            </div>
        </form>
    </div>
</div>

