@model Ticket
<h5><b>Ticket Detail</b></h5>
<p> </p>

<p><h7><b>Full Name:</b> @Model.FullName</h7></p>
<p><h7><b>Seat Number:</b> @Model.SeatNumber</h7></p>
<p><h7><b>Phone Number:</b> @Model.PhoneNumber</h7></p>
<p><h7><b>Email:</b> @Model.Email</h7></p>

<a asp-action="Index" class="btn btn-secondary text-white">Go Back</a>
